

<nav class="navbar">
    <span>Filter</span>
    <input class="form-control" type="text" name="SearchTerm" [(ngModel)]="SearchTerm" (input)="Search()" placeholder="Search Recipes">
    <!-- <input class="form-control" type="text" name="LastName" [(ngModel)]="categoryId" (change)="Search()" placeholder="Search category id"> -->
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Recipe name</th>
            <th>Description</th>
            <th>Created date</th>
            <th>User</th>
            <th>Category</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipeList">
            <td>{{recipe.name}}</td>
            <td>{{recipe.description}}</td>
            <td>{{recipe.createdDate | date}}</td>
            <td>{{recipe.myUser.firstName}} {{recipe.myUser.lastName}}</td>
            <td>{{recipe.recipeCategory.name}}</td>
            <td><button class="btn btn-primary" routerLink="/recipeDetails/{{recipe.id}}">See details</button></td>
        </tr>
    </tbody>
</table>
<!-- <button (click)="loadTenRecipes()">Load more data</button> -->
<button class="btn btn-primary" [routerLink]="['/addRecipe', categoryId]">Add new recipe</button>
<br>
