<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Measure unit</th>
            <th>Unit quantity</th>
            <th>Unit price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ingredient of ingredientsList">
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.unitMeasure}}</td>
            <!-- <td>{{ingredient.measureUnit}}</td> -->
            <td>{{ingredient.unitQuantity}}</td>
            <td>{{ingredient.unitPrice}}</td>
        </tr>
    </tbody>
</table>