<table class="table table-dark">
    <thead>
    <tr>
        <td>Recipe name</td>
        <td>Description</td>
        <td>Ingredient name</td>
        <td>Measure unit</td>
        <td>Unit price</td>
        <td>Unit quantity</td>
        <td>Ingredient cost</td>
        <td>Total cost</td>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let irl of ingredientRecipeList">
        <td>{{irl.recipeName}}</td>
        <td>{{irl.description}}</td>
        <!-- <td>{{irl.ingredientRecipe..}}</td>
        <td>{{irl.ingredient.measureUnit}}</td>
        <td>{{irl.ingredient.unitPrice}}</td>
        <td>{{irl.ingredient.unitQuantity}}</td>
        <td>{{irl.price}}</td>
        <td>{{irl.totalCost}}</td> -->
    </tr>
</tbody>
</table>
