
    <div style="font-size: 22px;">
      <div style="font-size:30px;font-weight: bold;">{{recipe.name}}</div>
  <div>{{recipe.description}}</div>
  </div>
  <br>

   <!-- <label style="font-size:22px;">List of ingredients for this recipe</label>
  <div *ngFor="let ingredients of recipe.ingredientRecipes">
<div>
    <label>Ingredient name: </label>
    <p>{{ingredients.ingredient.name}}</p>
  </div>
  <div>
    <label>quantity: </label>
    <p>{{ingredients.quantity}}</p>
  </div>
</div> -->


<h6>List of ingredients for this recipe</h6>
<table class="table">
  <thead>
    <tr>
      <th>Ingredient name</th>
      <th>Quantity</th>
      <th>Ingredient cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredients of recipe.ingredientRecipes">
      <td>{{ingredients.ingredient.name}}</td>
      <td>{{ingredients.quantity}}</td>
      <!-- <td>{{ingredients.}}</td> -->
    </tr>
</tbody>
</table>
    
