
    <div style="font-size: 22px;">
      <div style="font-size:30px;font-weight: bold;">{{recipe.name}}</div>
  <div style="margin-top: 5px;">{{recipe.description}}</div>
  </div>
  <br>


<h4>List of ingredients for this recipe</h4>
<table class="table">
  <thead>
    <tr>
      <th>Ingredient name</th>
      <th>Quantity</th>
      <th>Measure unit</th>
      <th>Ingredient cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredients of recipe.ingredientRecipes">
      <td>{{ingredients.ingredient.name}}</td>
      <td>{{ingredients.quantity}}</td>
      <td>{{ingredients.ingredient.unitMeasure}}</td>
      <td>{{ingredients.ingredientCost | number:'1.1'}} KM</td> 
    </tr>
</tbody>
</table>

<h4>Total cost: {{recipe.totalCost  | number: '1.1'}} KM</h4>
<div style="background-color: rgb(85, 60, 60); color: yellow;"> </div>
    
