<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Normative calculator</a>
    
        <ul class="navbar-nav mr-auto"> 
          <!-- <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async"> FOR AUTENTICATION -->
            <!-- <ng-container *ngIf="accountService.currentUser$ | async">  -->
              
              <li class="nav-item"> 
                <a class="nav-link" routerLink='/pagedIngredient' routerLinkActive='active'>Paged ingredients</a>
              </li>
                <li class="nav-item">
                    <a   class="nav-link"  routerLink='/ingredient' routerLinkActive='active'>Ingredient</a>
                  </li> 
            <!-- <li class="nav-item">
              <a class="nav-link"  routerLink='/recipe' routerLinkActive='active'>Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/ingredientRecipe' routerLinkActive='active'>Ingredient-recipe</a>
            </li> -->
            <li class="nav-item">
              <a  class="nav-link" routerLink='/recipeCategory' routerLinkActive='active'>Categories</a>
            </li>
             <li class="nav-item">
              <a *ngIf="!authService.isAuthenticated" class="nav-link" routerLink='/auth' routerLinkActive='active'>Login</a>
            </li>
           
            <button *ngIf="authService.isAuthenticated" class="btn btn-warning" (click)="logout()">Logout</button>
          <!-- </ng-container> -->
        </ul>

        <!-- <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>  
           <a href="" class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username}}</a>
           <div class="dropdown-menu mt-3" *dropdownMenu>  
              <a href="" class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a href="" class="dropdown-item" (click)="logout">Logout</a>
           </div>
        </div> -->

    
        
     
    </div>
  </nav>