<table class="table">
    <thead>
        <tr>
            <td>Category name</td>
            <td>Description</td>
            <td>Created date</td>
            <td>Choose</td>
            <td *ngIf="authService.isAuthenticated">Delete</td>
            <td *ngIf="authService.isAuthenticated">Update</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of recipesCategoryList">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.createdDate | date}}</td>
            <!-- <td [routerLink]="['/recipes/',category.recipeCategoryId]">See all recipies</td>     -->
            <td><button routerLink="/recipes/{{category.id}}">See all recipies for this category</button> </td>
            <!-- odabir kategorije te redirekt na listu recepata za tu -->
            <td *ngIf="authService.isAuthenticated"><i (click)="deleteCategory(category.id)" class="fa fa-trash" style="color: red;font-size: 25px;"></i></td>
            <td *ngIf="authService.isAuthenticated" class="fa fa-edit" style="font-size: 25px; color: orangered;" routerLink="/updateCategory/{{category.id}}"></td>
        </tr>
    </tbody>
</table>
<button style="position: absolute; right: 130px;"  (click)="loadRecipeCategories()">Load more data</button>

<button *ngIf="authService.isAuthenticated" class="btn btn-primary" routerLink="/addRecipeCategory">Add new category</button>